<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>

	<a href="stuHome">Students List</a><br>


		<a href="getAllClasses">classes</a><br>
		<a href="addClasses">Add classes</a><br>
		<a href="getAllNotices">Notices</a><br>
		<a href="addNotice">Add Notices</a><br>
		<a href="addStudent">Add Student</a><br>
		<a href="contactUs">Contact Us</a><br>
		<a href="aboutUs">About Us</a><br>
		<a href="news">News</a><br>
		<a href="dashBoard">Dashboard</a><br>

</body>
</html>